.about {
    background-color: $blue-light; 
    background-size: cover;
    height: auto;
 
    h3 {
        padding-top: 0em;
        padding-bottom: 0em;
    }

    .padding {
        padding-top: 1rem;
        padding-bottom: 0.2rem;
    }

    img {
        &.profile-pic{
            border-radius:50%;
            width: 100%;
        }
        &.icon {
            padding-right: 0.6em;
        }
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    .align-col {
        margin:0;
        padding:0;
        text-align: center;
    }

   

    @include media-breakpoint-up(md) {
        .add-margin {
            margin-left: 10%;
        }
        p {
            text-align: left;
            padding-top: 0;
            padding-bottom: 0;

            a {
                text-decoration: underline;
            }

        }
        h3 {
            &.padding {
                text-align: left;
            }
        }
    }
}