.hero {
    background-image: url(../images/hero_img.jpg);
    background-size: cover;
    height: auto;
    padding-top: 50vh;
    text-align: center;
    
    
    h4 {
        color: $gray-100;
    }

    @include media-breakpoint-up(md) {
        text-align: left;
      }

      
    @include media-breakpoint-up(xl) {
        padding-bottom: 6em;
      }

}