body {
    font-family: $decorative-default;
}

h1 {
    font-family: $decorative-lg;
    color: $primary;
    font-size: 3.5rem;
    margin-top: 0em;
    margin-bottom: 0em;
}

h2 {
    font-family: $decorative-md;
    color: $primary;
    font-size: 2.5rem;
    margin-top: 0em;
    margin-bottom: 0em;
    padding-top: 70px;
    padding-bottom: 4vh;
    padding-left: 5vw;
}

h3 {
    font-family: $decorative-default;
    color: $primary;
    font-size: 1.7rem;
    margin-top: 0em;
    margin-bottom: 0em;
}

h4 {
    font-family: $decorative-sm;
    color: $primary;
    font-size: 1.3rem;
    margin-top: 1rem;
}


h5 {
    font-family: $decorative-dates;
    color: $blue-electric;
    font-size: 1.125rem;
    margin-top: 0em;
    white-space: nowrap;
}

h6 {
    font-family: $decorative-default;
    color: $primary;
    font-size: 0.2rem;
    margin-top: 0rem;
    white-space: nowrap;
}

p {
    font-family: $decorative-sm;
    color: $primary;
    font-size: 1.21rem;
}

.padding-bottom {
    padding-bottom: 3em;
}

.my-container {
    position: relative;
    z-index: 3;

}