// Bootstrap variable overrides



// Colors
$yellow:            #D1AE21;
$red:               #9c0101;
$blue-electric:     #0bb5ff;
$blue-dark:         #002a4c;
$blue-light:        #6a7d84;
$gray-custom:       #dcdcdc;
$gray-nav:          #5d5956;
$white:             #fff !default;
$brand-linkedin:	#0077B5;
$brand-github:  	#6e5494;
$brand-email:   	#dd4b39;

$primary:                  $white;
$navbar-dark-color:        rgba($white, .65);
$navbar-dark-hover-color:  rgba($white, .85);


// Fonts
$decorative-default: sans-serif;
$decorative-lg: "Roboto", sans-serif;
$decorative-md: "Arimo", sans-serif;
$decorative-sm: "Mukta Malar", sans-serif;
$decorative-dates: "Vollkorn", serif;



