.about {
    background-color: $blue-light; 
    background-size: cover;
    height: 75vh;
    h3 {
        padding-top: 0.4em;
        padding-bottom: 0.2em;
    }

    img {
        &.profile-pic{
            border-radius:50%;
            width: 100%;
        }
        &.icon {
            padding-right: 0.6em;
        }
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    .align-col {
        margin:0; 
        padding:0;
        text-align: center;
    }
}