.btn{
    border-radius: 75px;
}

.btn-about{
    background-color: $red;
    color: $primary;
    font-family: $decorative-default;
    font-size: 1em;
    width: 100px;
    height: 40px;
    margin-bottom: 5px;

}

.btn-experience{
    background-color: $gray-custom;
    color: $black;
    font-family: $decorative-default;
    font-size: 0.75em;
    width: 90px;
    height: 45px;
    font-weight: bold;
    white-space: normal;
    margin-bottom: 10px;
}


.text-reduced {
    font-size: 0.7em;
}

/* Grow Shadow */
.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }