.experience{
    background-image: url(../images/mountain_background.png);
    background-size: cover;
    height: auto;

    h3 {
        font-size: 1.45em;
        margin-bottom: 20px;
        
        &.custom-newline {
            margin-bottom: 5px;
        }
    }

    h5 {
        font-size: 1.2em;
        margin-bottom: 10px;
        
    }

    h6 {
        font-size: 1.15em;
        margin-bottom: 10px;
    }

    p {
        font-size: 1em;
        margin-bottom: 20px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    li {
        float: left;
        padding-right: 5px;
        padding-left: 5px;
    }

    br {
        line-height: 0em;
    }

    .fix-margin {
        margin-right: 10%;
    }


    @include media-breakpoint-up(md) {

        .fix-margin-left {
            margin-left: 10%;
            margin-right: 0%;
        }

        .text-responsive {
            text-align: right;
        }

        li {
            &.set-right {
                float: right;
            }
        }

        .row-padding {
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }
}