svg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
}

line {
    stroke: $blue-electric;
    stroke-width: 3;
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    

}

.draw-line {
    animation: dash 8s linear forwards;
}

@keyframes dash {
    from {
        stroke-dashoffset: 3000;
      }
      to {
        stroke-dashoffset: 0;
      }
  }

.align-point {
    text-align: right;
}

@include media-breakpoint-up(md) {
    text-align: center;
  }