body {
    font-family: $decorative-default; 
}

h1 {
    font-family: $decorative-lg;
    color: $primary;
    font-size: 3.5rem;
    margin-top: 0em;
    margin-bottom: 0em;
}

h2 {
    font-family: $decorative-md;
    color: $primary;
    font-size: 2.5rem;
    margin-top: 0em;
    margin-bottom: 0em;
    padding-top: 4vh;
    padding-bottom: 3vh;
    padding-left: 5vw;
}

h3 {
    font-family: $decorative-default;
    color: $primary;
    font-size: 1.7rem;
    margin-top: 0em;
    margin-bottom: 0em;
}

h4 {
    font-family: $decorative-sm;
    color: $primary;
    font-size: 1.3rem;
    margin-top: 1rem;
}


h5 {
    font-family: $decorative-dates;
    color: $blue-electric;
    font-size: 1.125rem;
    margin-top: 0em;
    white-space: nowrap;
}

h6 {
    font-family: $decorative-default;
    color: $primary;
    font-size: 1rem;
    margin-top: 0rem;
    white-space: nowrap;
}

p {
    font-family: $decorative-paragraph;
    color: $primary;
    font-size: 1.21rem;
}

.padding {
    padding-bottom: 2em;

}

.my-container {
    border: 3px solid green;

}

.my-row {
    border: 3px solid red;

}

.my-col {
    border: 3px solid blue;

}

#svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
  
  #line{
    stroke-width:2px;
    stroke:rgb(0,0,0);
  }
  
  .point{
    width: 10px;
    height: 10px;
    background: red;
    position: absolute;
  }
  
  #one{
    top: 20px;
    left: 50px;
  }
  
  #two{
    top: 200px;
    right: 50px;
  }

  canvas{
    position:absolute;
    background:rgba(255,0,0,0.3);
    z-index:3;
  }

  #labelDiv {
    z-index: 1;
    //position:absolute;
}