body {
    font-family: $decorative-default; 
}

h1 {
    font-family: $decorative-lg;
    color: $primary;
    font-size: 4vmax;
    margin-top: 0em;
    margin-bottom: 0em;
    white-space: nowrap;
}

h2 {
    font-family: $decorative-md;
    color: $primary;
    font-size: 2.5em;
    margin-top: 0em;
    margin-bottom: 0em;
    padding-top: 4vh;
    padding-bottom: 3vh;
    padding-left: 11vh;
    white-space: nowrap;
}

h3 {
    font-family: $decorative-default;
    color: $primary;
    font-size: 1.7em;
    margin-top: 0em;
    margin-bottom: 0em;
    white-space: nowrap;
}

h4 {
    font-family: $decorative-sm;
    color: $primary;
    font-size: 1.6vmax;
    margin-top: 1rem;
    white-space: nowrap;
}


h5 {
    font-family: $decorative-dates;
    color: $blue-electric;
    font-size: 1.125em;
    margin-top: 0rem;
    white-space: nowrap;
}

h6 {
    font-family: $decorative-default;
    color: $primary;
    font-size: 1em;
    margin-top: 0rem;
    white-space: nowrap;
}

p {
    font-family: $decorative-paragraph;
    color: $primary;
    font-size: 1.21em;
}

.my-container {
    border: 3px solid green;

}

.my-row {
    border: 3px solid red;

}

.my-col {
    border: 3px solid blue;

}
